h1 {
    color : #E59500;
    background-color : #E5DADA
};

body {
    background-color: #E5DADA;

}

.sauce {
  top : 0;
  position : sticky;
  background-color: #E5DADA;
  overflow: hidden;
  text-decoration: none;
}

.sauce a {
  text-decoration: none;
  color : black;
  }

  
  /* Style the links inside the navigation bar */
  .sauce a {
    float: left;
    background-color: #E5DADA;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding: 15px 218.5px;
  }
  
  /* Change the color of links on hover */
  .sauce a:hover {
    background-color:  black;
    color : white;
  }




  